<header class="w-100 bg-dark">

    <div class="container d-flex justify-content-between py-2">
      <span class="logo">
        <a redirect="">      
          <img src="./assets/files/logo-white.png" height="90px" alt="">
        </a>
      </span>
  
      <menu class="text-white d-flex align-items-center">
        <ul>
          <li><a redirect="">Home</a></li>
          <li><a redirect="">About</a></li>
          <li><a redirect="">Service</a></li>
          <li><a redirect="">Gallery</a></li>
          <li><a redirect="">Contact</a></li>
        </ul>
      </menu>
      <!-- <div class="d-flex justify-content-between"> -->
      </div>
  
    </div>
  
</header>
  