ReWriteEngine On
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1\.html [L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /athershahid/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html?url=$1 [QSA,L]
</IfModule>